[type=table] {
    border: 2px solid rgba(255,255,255,0.2);
}

    [type=table]:hover {
        background-image: url(../image/model/plus.png);
        background-position: center;
        background-size: 20%;
        background-repeat: no-repeat;
        background-color: #272145;
        cursor: pointer;
    }

.menu-shade {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    width: 55%;
    height: 65%;
    background-color: #eae7ff;
    top: 17.5%;
    left: 22.5%;
    z-index: 9;
}

.menu-close {
    position: absolute;
    left: 79%;
    top: 48%;
    font-size: 3.56vh;
    width: 1em;
    height: 1em;
    background-image: url(../image/model/close.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navigation {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 100%;
    background-color: #c1bce6;
    cursor: pointer;
}

.left-tab {
    width: 100%;
    font-size: 2.1vh;
    height: 2em;
    padding-top: 0.5em;
    text-align: center;
    color: #484462;
}

    .left-tab:hover {
        background-color: #484462;
        color: white;
    }

.content {
    position: relative;
    display: inline-block;
    width: 84%;
    height: 100%;
}

#location {
    width: 85%;
    height: 9%;
    margin-top: 1%;
    margin-left: 2%;
}

.location-tab {
    position: relative;
    height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    margin-top: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 2.1vh;
    color: #484462;
    border: 1px solid #484462;
    cursor: pointer;
    margin-right: 1%;
}

    .location-tab:hover {
        background-color: #484462;
        color: white;
    }

#option {
    position: absolute;
    top: 1em;
    right: 0;
    font-size: 1.89vh;
}

.option-menu {
    font-size: 1.68vh;
    background-color: #dad7f2;
    box-shadow: 0em 0.5em 0.625em rgba(38,36,56,0.35);
    padding-left: 1.5625em;
    padding-top: 1.25em;
}

.option-item {
    text-align: center;
    height: 2em;
    padding-top: 0.5em;
    color: #484462;
    border: 1px solid #484462;
    cursor: pointer;
    margin-bottom: 1.25em;
    margin-right: 2.5em;
    display: inline-block;
    vertical-align: top;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

    .option-item:hover {
        background-color: #484462;
        color: white;
    }

.item-container {
    position: relative;
    height: 88%; /*将88%修改为了40%*/
    width: 96%;
    margin-left: 2%;
    padding-top: 1%;
    margin-top: 1%;
    /*overflow-y: auto;*/
}

.item {
    position: relative;
    width: 31.5%;
    height: 47%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5%;
    margin-bottom: 2%;
    border: 1px solid #585476;
    font-size: 1.68vh;
    cursor: pointer;
}

.itemInfo {
    width: 100%;
    height: 100%;
    opacity: 0; /*不透明度：通过不透明度来实现层的隐藏效果*/
    position: absolute;
}

.item:hover .itemInfo {
    /*visibility: hidden;*/
    background-color: pink;
    opacity: 0.2; /*不透明度：通过不透明度来实现层的显示效果*/
}

.item-chart {
    width: 100%;
    height: 100%;
    position: absolute;
}

.item-preview {
    position: relative;
    width: 100%;
    height: 85%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-title {
    position: relative;
    width: 100%;
    height: 15%;
    color: #484462;
    text-align: center;
    background-color: white;
    letter-spacing: 0.1em;
}

    .item-title div {
        position: relative;
        top: 0em; /*用auto也行*/
    }





.List-wrap {
    position: relative;
    height: 88%;
    width: 96%;
    margin-left: 2%;
    padding-top: 1%;
    overflow-y: auto;
}
/*导航侧边栏的相关样式设置*/

/*右侧内容栏的样式设置*/
/*右侧内容栏的样式设置：第一层select-wrap部分*/
.select-wrap {
    width: 85%;
    height: 9%;
    margin-top: 1%;
    margin-left: 2%;
}

.select {
    position: absolute;
    top: 1em;
    right: 0;
    font-size: 1.89vh;
}

.select2 {
    /*position: relative;*/
    height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    margin-top: 0%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    font-size: 2.1vh;
    color: #484462;
    border: 1px solid #484462;
    cursor: pointer;
}
/*右侧内容栏的样式设置：第二层items-wrap部分*/
.items-wrap {
    position: relative;
    height: 56%;
    width: 96%;
    margin-left: 2%;
    padding-top: 1%;
    overflow-y: auto;
}

.item-wrap {
    height: 97%;
}

.location-wrap {
    width: 85%;
    height: 9%;
    margin-top: 1%;
    margin-left: 2%;
}
/*筛选*/
#selectDiv {
    position: relative;
    height: 30%;
    width: 96%;
    margin-left: 2%;
    padding-top: 1%;
    background-color: rgba(91, 155, 213, 1);
    display: none;
    overflow-y: auto;
}

.itemType {
    width: 100%;
    height: auto;
    float: left;
}

#selectDiv .itemType div {
    width: 16%;
    height: 3%;
    background-color: white;
    margin: 1%;
    float: left;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}


/*测试：设置iframe框架用来盛放配置网页*/
.config-iframe-wrap {
    position: absolute;
    left: 0;
    top: 0;
    /*z-index: 20;*/
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display:none;
}

#config-iframe {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    border-width: 0px;
}
/*对模板进行样式设置*/
.title-wrap {
    width: 100%;
    height: 100%;
        color: white;
    text-align: center
}
.title {
        line-height: 323%;
    display: inline;
    font-size: 1.5em;
}
.time-update-wrap {
    position: absolute;
    left: 59%;
    top: 5%;
    color: rgba(165, 165, 165, 1);
    font-size:0.8em;/*em针对文字字体的大小设置*/
}
.time-update {
display:inline-block;
}
.date {
display:inline-block;
}
.table1 {
    width: 30%;
    height: 95%;
    margin-top: 0.8%;
    margin-left: 0.5%;
    float:left;
}
.table-right {
    width:33%;
    height:46.2%;
    float:right;
    margin-top: 0.8%;
    margin-right: 0.8%;
}
.table2 {
     
}
.table3 {
   
}
.table4 {
   
}
.table5 {
    
}
